
<nav >
    <img class="logo"  src="https://img.freepik.com/premium-vector/online-shop-logo-designs-concept-vector-online-store-logo-designs_7649-661.jpg?w=2000" alt="" >
        <ul >
            <li><a  routerLink="">Home</a></li>
            <li><a  routerLink="add">Add Product</a></li>
            <li><a  routerLink="view">View All Products</a></li>
            <li><a  routerLink="profile"><img src="https://www.shutterstock.com/image-vector/user-login-authenticate-icon-human-260nw-1365533969.jpg" height="50px" width="50px"></a></li>
          

     
           
         
        </ul>
      

</nav>

