<div class="row">
    <div class="col">
        <img src = "{{data.imgurl}}" height="400px" width="300px" >
        <hr>
        <h2>₹. {{data.prodprice}}</h2>
    </div>
    <div class="col">
        <h1>{{data.pname}}</h1>
        <p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, molestiae suscipit? Tempora ad voluptatem cumque voluptatibus aspernatur eos, repellat atque deleniti rem consectetur eveniet, vel ab necessitatibus, iure pariatur error non at est quo! Ratione sunt a consectetur, deleniti vero dolor tenetur temporibus qui quasi doloremque eius quod. Deleniti perspiciatis quam animi voluptatum incidunt, iusto, ratione nam sint debitis dolore veritatis harum minima recusandae tempore praesentium rerum nobis illum laudantium.
        </p>
        
    </div>
</div>